# Обзор наборов данных для устройств интернета вещей (IoT)
Головачев Иван. МИЭМ НИУ ВШЭ
## Содержание
1. CityPulse Dataset Collection
2.

In [1]:
import pandas as pd
import os

pd.set_option('display.max_columns', None)

## CityPulse Dataset Collection
Ссылка
http://iot.ee.surrey.ac.uk:8080/datasets.html
### 1. Vehicle Traffic
#### Описание
Набор построен на основе данных о движении ТС между двумя пунктами 
#### Загрузка мета данных

In [2]:
path_meta = 'D:/HSE/IoT/DataSets/Vehicle_traffic'
city_meta_data = pd.read_csv(os.path.join(path_meta, 'trafficMetaData.csv'), low_memory=False)
city_meta_data.head()

,POINT_1_STREET,DURATION_IN_SEC,POINT_1_NAME,POINT_1_CITY,POINT_2_NAME,POINT_2_LNG,POINT_2_STREET,NDT_IN_KMH,POINT_2_POSTAL_CODE,POINT_2_COUNTRY,POINT_1_STREET_NUMBER,ORGANISATION,POINT_1_LAT,POINT_2_LAT,POINT_1_POSTAL_CODE,POINT_2_STREET_NUMBER,POINT_2_CITY,extID,ROAD_TYPE,POINT_1_LNG,REPORT_ID,POINT_1_COUNTRY,DISTANCE_IN_METERS,REPORT_NAME,RBA_ID,_id
0,Søftenvej,77,4364,Aarhus,4349,10.161038,Søftenvej,70,8200,Denmark,0,COWI,56.214979,56.208520,8200,0,Aarhus,179,MAJOR_ROAD,10.139696,158895,Denmark,1505,AAR_BT_0020 4364 4349,161062,1586
1,Grenåvej,65,4582,Risskov,4581,10.219086,Grenåvej,44,8240,Denmark,126,COWI,56.186546,56.193692,8240,126,Risskov,194,MAJOR_ROAD,10.218304,178600,Denmark,797,AAR_BT_0101 4582 4581,178660,1601
2,Skanderborgvej,84,3987,Aarhus,2651,10.157659,Viby Ringvej,35,8260,Denmark,168,COWI,56.131054,56.132032,8260,168,Aarhus,324,MAJOR_ROAD,10.166163,187509,Denmark,823,AAR_BT_0231 3987 2651,189702,1731
3,Grenåvej,55,4572,Risskov,4581,10.218878,Grenåvej,53,8240,Denmark,0,COWI,56.197744,56.193711,8240,0,Risskov,383,MAJOR_ROAD,10.228594,190744,Denmark,813,AAR_BT_0291 4572 4581,192392,1790
4,Holmstrupgårdvej,91,4337,Aarhus,4336,10.120842,Holmstrupgårdvej,40,8210,Denmark,28,COWI,56.169455,56.178403,8220,150,Aarhus,436,MAJOR_ROAD,10.119669,195041,Denmark,1015,AAR_BT_0356 4337 4336,229156,1843

#### Загрузка данных

In [3]:
path_001 = 'D:/HSE/IoT/DataSets/Vehicle_traffic/traffic_feb_june'
city_data = pd.read_csv(os.path.join(path_001, 'trafficData158324.csv'), low_memory=False)
city_data.head()

,status,avgMeasuredTime,avgSpeed,extID,medianMeasuredTime,TIMESTAMP,vehicleCount,_id,REPORT_ID
0,OK,66,56,668,66,2014-02-13T11:30:00,7,190000,158324
1,OK,69,53,668,69,2014-02-13T11:35:00,5,190449,158324
2,OK,69,53,668,69,2014-02-13T11:40:00,6,190898,158324
3,OK,70,52,668,70,2014-02-13T11:45:00,3,191347,158324
4,OK,64,57,668,64,2014-02-13T11:50:00,6,191796,158324

#### Форма данных

In [4]:
city_data.shape

(32075, 9)

#### Список переменных

In [5]:
city_data.columns

Index(['status', 'avgMeasuredTime', 'avgSpeed', 'extID', 'medianMeasuredTime',
       'TIMESTAMP', 'vehicleCount', '_id', 'REPORT_ID'],
      dtype='object')

#### Описание переменных
status				-	статус датчика (?)
avgMeasuredTime		-	среднее измеренное время (?)
avgSpeed			-	средняя скорость движения ТС
extID				-	
medianMeasuredTime	-	
TIMESTAMP			-	
vehicleCount		-	
_id					-	
REPORT_ID			-